$lightGreen: #b9e7e7;

.app {
  display: flex;
  justify-content: center;
  
  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }

    // LOGIN & REGISTER

    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $lightGreen;

      h1 {
        font-size: 20px;
        color: teal;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: white;
        width: 200px;
        gap: 20px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
        }

        button {
          padding: 10px;
          border: none;
          background-color: teal;
          cursor: pointer;
          color: white;
        }

        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }

        span {
          font-size: 12px;
          text-align: center;
        }
      } // End of form

    } // End of .auth

    // Footer starts here
    .footer {
      background-color: #333;
      color: #fff;
      padding: 20px 0;
      text-align: center;

      .footer-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .footer-section {
          flex: 1;
          padding: 0 20px;
          text-align: left;

          h3 {
            margin-bottom: 10px;
          }

          ul {
            list-style-type: none;
            padding: 0;

            li {
              margin-bottom: 8px;

              a {
                color: #fff;
                text-decoration: none;
                font-size: 14px;
                transition: color 0.3s ease;

                &:hover {
                  color: #67a5f5;
                }
              }
            }
          }
        }

      } // End of .footer-content

    } // End of .footer

  } // End of .container

} // End of .app
